<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
           <label class="label-control">Name</label>
           <input type="text"
           name="name"
           id="name" class="form-control" #nameInput>
        </div>
        <div class="col-sm-5 form-group">
           <label class="label-control">Amount</label>
           <input type="number" name="amount"
           id="amount" class="form-control" #amountInput>
        </div>
      </div>
      <div class="row">
          <div class="col-xs-12">
              <button type="button" name="button" class="btn btn-success" (click)="onAddItem()">Add</button>
              <button type="button" name="button" class="btn btn-danger">Delete</button>
              <button type="button" name="button" class="btn btn-primary">Clear</button>
          </div>
      </div>

    </form>
  </div>
</div>
